doctype html
html
  head
    title Dance Academy
    block style

    block scripts

  body
    nav#navbar.top
        ul
            div#logo 
                img(src="/static/Images/download.png")
                |
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/contact") Contact us]
            li #[a(href="/") Services]
            li #[a(href="/") Class info]
    block content
    footer#footer1
        | Footer Section
        h4 Follow us on Instagram, Facebook, Twitter
        h4 Subscribe on youtube channel DDD 
        h4 Click here for more info    