//- index.pug
doctype html
html
  head
    style
      include ../static/style.css
  body
    nav#navbar.top
        ul
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Contact us]
            li #[a(href="/") Services]
            li #[a(href="/") Class info]


    section#pannel1
        div Welcome to Fusion Dance Academy 
        div We are a dance studio that offers classes in various styles of dance.
    

    section#pannel2
        h3 Our Sponsers

    footer#footer1
        | Footer Section

    script
      include ../static/index.js