<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Using Plain html pug</title> -->
    <title>#{title}</title>
    style 
        include ../static/style.css
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/">About</a></li>
            <li><a href="/">Contact Us</a></li>
        </ul>
    </nav>
    <div class="container">

        <h1>Get This Membership in just 60$</h1>
        <p> 
            | #{content}
        </p>
        <form action="/" method="post" id="contact">
            <input type="text" name="name" id="name" placeholder="Enter Your Name">
            <input type="number" name="age" id="age" placeholder="Enter Your age">
            <input type="email" name="email" id="email" placeholder="Enter Your email">
            <input type="text" name="gender" id="gender" placeholder="Enter Your gender">
            <textarea name="address" id="address" cols="30" rows="10" placeholder="More about you"></textarea>
            <button class="btn">Submit</button>
        </form>
    </div>
</body>
</html>