<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Using Plain html pug</title> -->
    <title>#{title}</title>
    style 
        include ../static/style.css
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/">About</a></li>
            <li><a href="/">Contact Us</a></li>
        </ul>
    </nav>
    <h1>This is a heading</h1>
    <p> 
        | #{content}
        |This is a plain html pug
    </p>
</body>
</html>